
@{
    Layout = null;
    HttpCookie cookie = Request.Cookies["GirisYap"];
    string username = "";
    string password = "";
    bool hatirla = false;
    if (cookie != null)
    {
        username = cookie.Values["kullanici"];
        password = cookie.Values["sifre"];
        hatirla = true;
    }
}





@model AracIhaleCore.Entities.Kullanici
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Arac Ihale Projesi</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/Content/pluto-1.0.0/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="/Content/pluto-1.0.0/js/semantic.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page login">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <img width="210" src="/Content/pluto-1.0.0/images/logo/logo_icon.png" alt="#" />
                        </div>
                    </div>

                    <div class="login_form">

                        @using (Html.BeginForm("GirisYap", "Giris", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <fieldset>
                                    <div class="field">
                                        @Html.LabelFor(m => m.KullaniciAdi, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control", @Value = ViewBag.Username })

                                    </div>
                                    <div class="field">
                                        @Html.LabelFor(m => m.Sifre, new { @class = "form-label" })
                                        @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", @Value = ViewBag.Password })

                                    </div>



                                    <div class="checkbox mb-md-4">
                                        <label>
                                            <input type="checkbox" name="hatirla" value="true" @(ViewBag.Remember == true ? "checked" : "")> Beni Hatırla
                                        </label>
                                    </div>
                                  

                                    <div class="field margin_0">
                                        <label class="label_field hidden">hidden label</label>
                                        <button class="main_bt" >Giriş Yap</button>
                                    </div>
                                </fieldset>
                            </form>
                        }
                        @if (ViewBag.Error != null)
                        {
                          
                                <script>

                                     alert("@ViewBag.Error");
                                  
                                </script>
                         

                            @*<div class="alert alert-danger">
                @ViewBag.Error
            </div>*@
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>

<!-- jQuery -->
<script src="/Content/pluto-1.0.0/js/jquery.min.js"></script>
<script src="/Content/pluto-1.0.0/js/popper.min.js"></script>
<script src="/Content/pluto-1.0.0/js/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Content/pluto-1.0.0/js/animate.js"></script>
<!-- select country -->
<script src="/Content/pluto-1.0.0/js/bootstrap-select.js"></script>
<!-- nice scrollbar -->
<script src="/Content/pluto-1.0.0/js/perfect-scrollbar.min.js"></script>
<script>var ps = new PerfectScrollbar('#sidebar');</script>
<!-- custom js -->
<script src="/Content/pluto-1.0.0/js/custom.js"></script>
</body>
</html>

